In [3]:
import pandas as pd

In [4]:
excel_data_df = pd.read_excel('../dataset/output.xlsx')

In [29]:
excel_data_df["STUB_LABEL"].value_counts()

STUB_LABEL
All persons                                                                  240
Female                                                                       240
Male                                                                         240
Male: Hispanic or Latino: All races                                          126
Female: Not Hispanic or Latino: American Indian or Alaska Native             126
Female: Not Hispanic or Latino: Black                                        126
Female: Not Hispanic or Latino: White                                        126
Male: Not Hispanic or Latino: American Indian or Alaska Native               126
Male: Not Hispanic or Latino: Black                                          126
Male: Not Hispanic or Latino: White                                          126
Female: Hispanic or Latino: All races                                        126
Female: Black or African American                                            126
Female: White                                                                126
Male: American Indian or Alaska Native                                       126
Male: Black or African American                                              126
Female: American Indian or Alaska Native                                     126
Male: White                                                                  126
Female: 75-84 years                                                          120
Female: 15-24 years                                                          120
Male: 55-64 years                                                            120
Male: 65-74 years                                                            120
Male: 75-84 years                                                            120
Male: 85 years and over                                                      120
Female: Under 15 years                                                       120
Female: 45-54 years                                                          120
Female: 25-34 years                                                          120
Female: 35-44 years                                                          120
Female: 55-64 years                                                          120
Female: 85 years and over                                                    120
Male: 35-44 years                                                            120
Female: 65-74 years                                                          120
Male: 45-54 years                                                            120
55-64 years                                                                  120
Male: 25-34 years                                                            120
25-34 years                                                                  120
Male: Asian or Pacific Islander                                              120
Female: Asian or Pacific Islander                                            120
Male: Not Hispanic or Latino: Asian or Pacific Islander                      120
Female: Not Hispanic or Latino: Asian or Pacific Islander                    120
Under 15 years                                                               120
Male: 15-24 years                                                            120
15-24 years                                                                  120
35-44 years                                                                  120
45-54 years                                                                  120
65-74 years                                                                  120
75-84 years                                                                  120
85 years and over                                                            120
Male: Under 15 years                                                         120
Male: Not Hispanic or Latino: Asian                                            6
Male: Not Hispanic or Latino: Native Hawaiian or Other Pacific Islander        6
Female: Not Hispanic or Latino: Asian                                          6
Female: Not Hispanic or Latino: Native Hawaiian or Other Pacific Islander      6
Name: count, dtype: int64

In [5]:
excel_data_df

# sex, race, gender, age 


genders = ['Male', 'Female']
ethnicities = ['Hispanic or Latino', 'Not Hispanic or Latino']
races = ['White', 'Black', 'American Indian or Alaska Native', 'Asian or Pacific Islander', 
         'Native Hawaiian or Other Pacific Islander', 'Black or African American', 'Asian']
age_groups = ['All persons', 'Under 15 years', '15-24 years', '25-34 years', '35-44 years', '45-54 years', 
              '55-64 years', '65-74 years', '75-84 years', '85 years and over']

# Function to extract categories
def extract_categories(description):
    gender = next((g for g in genders if g in description), None)
    ethnicity = next((e for e in ethnicities if e in description), None)
    race = next((r for r in races if r in description), None)
    age_group = next((a for a in age_groups if a in description), None)
    return pd.Series([gender, ethnicity, race, age_group])

# Apply the function
excel_data_df[['Gender', 'Ethnicity', 'Race', 'Age Group']] = excel_data_df['STUB_LABEL'].apply(extract_categories)

In [6]:
excel_data_df

,INDICATOR,PANEL,PANEL_NUM,UNIT,UNIT_NUM,STUB_NAME,STUB_NAME_NUM,STUB_LABEL,STUB_LABEL_NUM,YEAR,...,ESTIMATE,FLAG,ALL,Youth(<15-34),Adult(35-64),Elderly(65-80+),Gender,Ethnicity,Race,Age Group
0,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.10,1999,...,6.1,NaN,1,0,0,0,None,None,None,All persons
1,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.10,2000,...,6.2,NaN,1,0,0,0,None,None,None,All persons
2,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.10,2001,...,6.8,NaN,1,0,0,0,None,None,None,All persons
3,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.10,2002,...,8.2,NaN,1,0,0,0,None,None,None,All persons
4,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.10,2003,...,8.9,NaN,1,0,0,0,None,None,None,All persons
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6223,Drug overdose death rates,Drug overdose deaths involving heroin,5,"Deaths per 100,000 resident population, crude",2,Sex and age,3,Female: 45-54 years,3.25,2018,...,3.4,NaN,0,0,1,0,Female,None,None,45-54 years
6224,Drug overdose death rates,Drug overdose deaths involving heroin,5,"Deaths per 100,000 resident population, crude",2,Sex and age,3,Female: 55-64 years,3.26,2018,...,2.3,NaN,0,0,1,0,Female,None,None,55-64 years
6225,Drug overdose death rates,Drug overdose deaths involving heroin,5,"Deaths per 100,000 resident population, crude",2,Sex and age,3,Female: 65-74 years,3.27,2018,...,0.4,NaN,0,0,0,1,Female,None,None,65-74 years
6226,Drug overdose death rates,Drug overdose deaths involving heroin,5,"Deaths per 100,000 resident population, crude",2,Sex and age,3,Female: 75-84 years,3.28,2018,...,NaN,*,0,0,0,1,Female,None,None,75-84 years
6227,Drug overdose death rates,Drug overdose deaths involving heroin,5,"Deaths per 100,000 resident population, crude",2,Sex and age,3,Female: 85 years and over,3.29,2018,...,NaN,*,0,0,0,1,Female,None,None,85 years and over

In [7]:
excel_data_df.isnull().sum()

INDICATOR             0
PANEL                 0
PANEL_NUM             0
UNIT                  0
UNIT_NUM              0
STUB_NAME             0
STUB_NAME_NUM         0
STUB_LABEL            0
STUB_LABEL_NUM        0
YEAR                  0
YEAR_NUM              0
AGE                   0
AGE_NUM               0
ESTIMATE           1111
FLAG               5117
ALL                   0
Youth(<15-34)         0
Adult(35-64)          0
Elderly(65-80+)       0
Gender             1320
Ethnicity          4956
Race               4212
Age Group          2748
dtype: int64

In [8]:
excel_data_df["STUB_LABEL"].value_counts()

STUB_LABEL
All persons                                                                  240
Female                                                                       240
Male                                                                         240
Male: Hispanic or Latino: All races                                          126
Female: Not Hispanic or Latino: American Indian or Alaska Native             126
Female: Not Hispanic or Latino: Black                                        126
Female: Not Hispanic or Latino: White                                        126
Male: Not Hispanic or Latino: American Indian or Alaska Native               126
Male: Not Hispanic or Latino: Black                                          126
Male: Not Hispanic or Latino: White                                          126
Female: Hispanic or Latino: All races                                        126
Female: Black or African American                                            126
Female: White                                                                126
Male: American Indian or Alaska Native                                       126
Male: Black or African American                                              126
Female: American Indian or Alaska Native                                     126
Male: White                                                                  126
Female: 75-84 years                                                          120
Female: 15-24 years                                                          120
Male: 55-64 years                                                            120
Male: 65-74 years                                                            120
Male: 75-84 years                                                            120
Male: 85 years and over                                                      120
Female: Under 15 years                                                       120
Female: 45-54 years                                                          120
Female: 25-34 years                                                          120
Female: 35-44 years                                                          120
Female: 55-64 years                                                          120
Female: 85 years and over                                                    120
Male: 35-44 years                                                            120
Female: 65-74 years                                                          120
Male: 45-54 years                                                            120
55-64 years                                                                  120
Male: 25-34 years                                                            120
25-34 years                                                                  120
Male: Asian or Pacific Islander                                              120
Female: Asian or Pacific Islander                                            120
Male: Not Hispanic or Latino: Asian or Pacific Islander                      120
Female: Not Hispanic or Latino: Asian or Pacific Islander                    120
Under 15 years                                                               120
Male: 15-24 years                                                            120
15-24 years                                                                  120
35-44 years                                                                  120
45-54 years                                                                  120
65-74 years                                                                  120
75-84 years                                                                  120
85 years and over                                                            120
Male: Under 15 years                                                         120
Male: Not Hispanic or Latino: Asian                                            6
Male: Not Hispanic or Latino: Native Hawaiian or Other Pacific Islander        6
Female: Not Hispanic or Latino: Asian                                          6
Female: Not Hispanic or Latino: Native Hawaiian or Other Pacific Islander      6
Name: count, dtype: int64

In [9]:
excel_data_df["AGE"].value_counts()

AGE
All ages             2988
Under 15 years        360
15-24 years           360
25-34 years           360
35-44 years           360
45-54 years           360
55-64 years           360
65-74 years           360
75-84 years           360
85 years and over     360
Name: count, dtype: int64

In [10]:
excel_data_df["STUB_NAME"]

0             Total
1             Total
2             Total
3             Total
4             Total
           ...
6223    Sex and age
6224    Sex and age
6225    Sex and age
6226    Sex and age
6227    Sex and age
Name: STUB_NAME, Length: 6228, dtype: object

In [11]:
excel_data_df["INDICATOR"].value_counts()

INDICATOR
Drug overdose death rates    6228
Name: count, dtype: int64

In [12]:
excel_data_df["PANEL"].value_counts()

PANEL
All drug overdose deaths                                                         1038
Drug overdose deaths involving any opioid                                        1038
Drug overdose deaths involving natural and semisynthetic opioids                 1038
Drug overdose deaths involving methadone                                         1038
Drug overdose deaths involving other synthetic opioids (other than methadone)    1038
Drug overdose deaths involving heroin                                            1038
Name: count, dtype: int64

In [13]:
excel_data_df["STUB_LABEL"].value_counts()

STUB_LABEL
All persons                                                                  240
Female                                                                       240
Male                                                                         240
Male: Hispanic or Latino: All races                                          126
Female: Not Hispanic or Latino: American Indian or Alaska Native             126
Female: Not Hispanic or Latino: Black                                        126
Female: Not Hispanic or Latino: White                                        126
Male: Not Hispanic or Latino: American Indian or Alaska Native               126
Male: Not Hispanic or Latino: Black                                          126
Male: Not Hispanic or Latino: White                                          126
Female: Hispanic or Latino: All races                                        126
Female: Black or African American                                            126
Female: White                                                                126
Male: American Indian or Alaska Native                                       126
Male: Black or African American                                              126
Female: American Indian or Alaska Native                                     126
Male: White                                                                  126
Female: 75-84 years                                                          120
Female: 15-24 years                                                          120
Male: 55-64 years                                                            120
Male: 65-74 years                                                            120
Male: 75-84 years                                                            120
Male: 85 years and over                                                      120
Female: Under 15 years                                                       120
Female: 45-54 years                                                          120
Female: 25-34 years                                                          120
Female: 35-44 years                                                          120
Female: 55-64 years                                                          120
Female: 85 years and over                                                    120
Male: 35-44 years                                                            120
Female: 65-74 years                                                          120
Male: 45-54 years                                                            120
55-64 years                                                                  120
Male: 25-34 years                                                            120
25-34 years                                                                  120
Male: Asian or Pacific Islander                                              120
Female: Asian or Pacific Islander                                            120
Male: Not Hispanic or Latino: Asian or Pacific Islander                      120
Female: Not Hispanic or Latino: Asian or Pacific Islander                    120
Under 15 years                                                               120
Male: 15-24 years                                                            120
15-24 years                                                                  120
35-44 years                                                                  120
45-54 years                                                                  120
65-74 years                                                                  120
75-84 years                                                                  120
85 years and over                                                            120
Male: Under 15 years                                                         120
Male: Not Hispanic or Latino: Asian                                            6
Male: Not Hispanic or Latino: Native Hawaiian or Other Pacific Islander        6
Female: Not Hispanic or Latino: Asian                                          6
Female: Not Hispanic or Latino: Native Hawaiian or Other Pacific Islander      6
Name: count, dtype: int64

In [20]:
# 

excel_data_df["PANEL"].value_counts()

PANEL
All drug overdose deaths                                                         1038
Drug overdose deaths involving any opioid                                        1038
Drug overdose deaths involving natural and semisynthetic opioids                 1038
Drug overdose deaths involving methadone                                         1038
Drug overdose deaths involving other synthetic opioids (other than methadone)    1038
Drug overdose deaths involving heroin                                            1038
Name: count, dtype: int64

In [21]:
keywords = {
    'any_opioid': 'any opioid',
    'natural_semisynthetic_opioids': 'natural and semisynthetic opioids',
    'methadone': 'methadone',
    'other_synthetic_opioids': 'other synthetic opioids',
    'heroin': 'heroin'
}

In [23]:
for key, word in keywords.items():
    excel_data_df[key] = excel_data_df['PANEL'].str.contains(word).astype(int)

,INDICATOR,PANEL,PANEL_NUM,UNIT,UNIT_NUM,STUB_NAME,STUB_NAME_NUM,STUB_LABEL,STUB_LABEL_NUM,YEAR,...,Elderly(65-80+),Gender,Ethnicity,Race,Age Group,any_opioid,natural_semisynthetic_opioids,methadone,other_synthetic_opioids,heroin
0,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.10,1999,...,0,None,None,None,All persons,0,0,0,0,0
1,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.10,2000,...,0,None,None,None,All persons,0,0,0,0,0
2,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.10,2001,...,0,None,None,None,All persons,0,0,0,0,0
3,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.10,2002,...,0,None,None,None,All persons,0,0,0,0,0
4,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.10,2003,...,0,None,None,None,All persons,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6223,Drug overdose death rates,Drug overdose deaths involving heroin,5,"Deaths per 100,000 resident population, crude",2,Sex and age,3,Female: 45-54 years,3.25,2018,...,0,Female,None,None,45-54 years,0,0,0,0,1
6224,Drug overdose death rates,Drug overdose deaths involving heroin,5,"Deaths per 100,000 resident population, crude",2,Sex and age,3,Female: 55-64 years,3.26,2018,...,0,Female,None,None,55-64 years,0,0,0,0,1
6225,Drug overdose death rates,Drug overdose deaths involving heroin,5,"Deaths per 100,000 resident population, crude",2,Sex and age,3,Female: 65-74 years,3.27,2018,...,1,Female,None,None,65-74 years,0,0,0,0,1
6226,Drug overdose death rates,Drug overdose deaths involving heroin,5,"Deaths per 100,000 resident population, crude",2,Sex and age,3,Female: 75-84 years,3.28,2018,...,1,Female,None,None,75-84 years,0,0,0,0,1
6227,Drug overdose death rates,Drug overdose deaths involving heroin,5,"Deaths per 100,000 resident population, crude",2,Sex and age,3,Female: 85 years and over,3.29,2018,...,1,Female,None,None,85 years and over,0,0,0,0,1

In [27]:
excel_data_df.isnull().sum()

INDICATOR                           0
PANEL                               0
PANEL_NUM                           0
UNIT                                0
UNIT_NUM                            0
STUB_NAME                           0
STUB_NAME_NUM                       0
STUB_LABEL                          0
STUB_LABEL_NUM                      0
YEAR                                0
YEAR_NUM                            0
AGE                                 0
AGE_NUM                             0
ESTIMATE                         1111
FLAG                             5117
ALL                                 0
Youth(<15-34)                       0
Adult(35-64)                        0
Elderly(65-80+)                     0
Gender                           1320
Ethnicity                        4956
Race                             4212
Age Group                        2748
any_opioid                          0
natural_semisynthetic_opioids       0
methadone                           0
other_synthetic_opioids             0
heroin                              0
dtype: int64

In [ ]:
excel_data_df.to_csv("try.csv", asd)